body {
    background-color: whitesmoke;
    margin: 0px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card {
    position: relative;
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #fcbf49;
    color: #003049;
    border-bottom: 6px solid #d62828;
}

#img-eye {
    position: absolute;
    width: 25px;
    top: 5px;
    left: 5px;

}

#avatar {
    width: 150px;
    height: 150px;
}

#info-section {
    width: 150px;
}

.border-blue {
    border: 1px dotted blue;
}

.footer {
    position: fixed;
    width: 100%;
    height: 80px;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
}

.credits {
    font-style: italic;
    padding-top: 10px;
}